* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: black;
  color: #00ff99;
  overflow: hidden;
}

/* TERMINAL */
#terminal {
  position: fixed;
  inset: 0;
  background: black;
  padding: 30px;
  font-size: 16px;
}

/* LOADER */
#loader {
  position: fixed;
  inset: 0;
  background: black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #003;
  border-top: 4px solid #00ff99;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* MATRIX */
#matrix {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* CARD */
.card {
  display: none;
  width: 320px;
  background: rgba(0,0,0,0.85);
  border-radius: 20px;
  padding: 30px;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  box-shadow: 0 0 30px #00ff99;
}

.profile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #00ff99;
}

h1 span {
  color: #00ff99;
}

.typing {
  margin: 10px 0;
  height: 24px;
}

.buttons a {
  display: inline-block;
  margin: 8px;
  padding: 10px 20px;
  border: 1px solid #00ff99;
  color: #00ff99;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.buttons a:hover {
  background: #00ff99;
  color: black;
}
