* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', monospace;
}

body {
  background: #000;
  color: #00ff9c;
  overflow: hidden;
}

#matrix {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
  border: 1px solid #00ff9c;
  box-shadow: 0 0 30px #00ff9c;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 360px;
  text-align: center;
}

.profile {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #00ff9c;
  overflow: hidden;
  box-shadow: 0 0 20px #00ff9c;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  margin-top: 15px;
  font-size: 26px;
}

h1 span {
  color: #00ffaa;
}

h2 {
  margin: 10px 0;
  font-size: 16px;
  height: 20px;
}

p {
  font-size: 13px;
  opacity: 0.85;
  margin-bottom: 20px;
}

.buttons a {
  display: inline-block;
  margin: 6px;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #00ff9c;
  color: #00ff9c;
  text-decoration: none;
  transition: 0.3s;
}

.buttons a:hover {
  background: #00ff9c;
  color: #000;
}
#terminal {
  position: fixed;
  inset: 0;
  background: black;
  color: #00ff9c;
  font-family: monospace;
  padding: 20px;
  z-index: 9999;
}

#loader {
  position: fixed;
  inset: 0;
  background: black;
  color: #00ff9c;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #00ff9c;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

#main {
  display: none;
}
